body {
  background-color: rgb(250, 250, 250);
  font-family: arial;
  color: rgb(20, 20, 20);
  font-size: 16;
  line-height: 1;
  text-align: center;
}

h1, h2 {
  color: rgb(90, 65, 65);
  font-family: calibri;
}

h3 {
  color: rgb(53, 165, 53);
  text-align: center;
}

.icons {
  color: rgb(14, 46, 189, 0.336);
  text-decoration: none;
  font-size: 32px;
}

a{
  color: white;
  text-decoration: none;
}

button {
  color: white;
  border: none;
  font-size: 16;
  background-color: rgb(73, 70, 201);
  border-radius: 4px;
  padding: 10px;
}

button :hover{
  color: rgb(2, 3, 8);
}

#profile-picture {
  width: 100px;
  border-radius: 50%;
}

.container{
  width: 500px;
  margin: 0 auto;
}

.card1 {
  width: 100%;
  height: 400px;
  margin: 30 auto;
  padding: 15px;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.card2 {
  width: 100%;
  height: 100px;
  margin: 30 auto;
  padding: 15px;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

@media (max-width: 720px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    max-width: 300px;
  }
}
